{% extends "layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/chessboard.css' %}">
{% endblock css %}
{% block js %}
<script  src="{% static 'js/chessboard.js' %}"></script>
<script  src="{% static 'js/game.js' %}"></script>
{% endblock js %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-tasks ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <!-- Button trigger modal -->
            <button type="button"
                    id="startgamebtn"
                    class="btn btn-large btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                New Game
            </button>
        </div>
    </nav>
    <div class="chessboard">
        {% for nums in range %}
            {% if forloop.counter|divisibleby:2 %}
                {% for num in range %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div id="{{ nums }}-{{ num }}" class="black chess-cell"></div>
                    {% else %}
                        <div id="{{ nums }}-{{ num }}" class="white chess-cell"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for num in range %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div id="{{ nums }}-{{ num }}" class="white chess-cell"></div>
                    {% else %}
                        <div id="{{ nums }}-{{ num }}" class="black chess-cell"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <script >
        const startGameBtn = document.getElementById("startgamebtn");
        const chessboard = new Chessboard();
        const game = new Game(chessboard);
        const processClickUrl = "{% url 'processClick' %}";

        document.addEventListener("click", function(event) {
            game.setupEventListener(event);
        });

        startGameBtn.addEventListener("click", function(event){
            game.startGame()
            
        });

    </script>
    
   
{% endblock content %}
