{% extends "layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/chessboard.css' %}">
{% endblock css %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-tasks ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <!-- Button trigger modal -->
            <button type="button"
                    id="startgamebtn"
                    class="btn btn-large btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                New Game
            </button>
        </div>
    </nav>
    <div class="chessboard">
        {% for nums in range %}
            {% if forloop.counter|divisibleby:2 %}
                {% for num in range %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div id="{{ nums }}-{{ num }}" class="black chess-cell"></div>
                    {% else %}
                        <div id="{{ nums }}-{{ num }}" class="white chess-cell"></div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for num in range %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div id="{{ nums }}-{{ num }}" class="white chess-cell"></div>
                    {% else %}
                        <div id="{{ nums }}-{{ num }}" class="black chess-cell"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
    <script type="text/javascript">
        // GLOBAL VARIABLES
        var elements = document.getElementsByClassName("chess-cell");
        var startGameBtn = document.getElementById('startgamebtn');
        var chessboardFE = document.querySelector('.chessboard');
        userClicks = [];
        gameStateId = -1;
        PIECE = {
            P:'♙', R:'♖', N:'♘', B:'♗', Q:'♕', K:'♔',
            p:'♟', r:'♜', n:'♞', b:'♝', q:'♛', k:'♚',
        };


        // listen for chess move
        document.addEventListener("click", function(event){
            if(event.target.closest('.chess-cell')){
                cellId = event.target.id.split("-");
                cellId[0] = parseInt(cellId[0]);
                cellId[1] = parseInt(cellId[1]);
                if(userClicks.length == 1){
                    //send move over for validation
                    userClicks[1] = cellId;
                    moveChessPiece(userClicks)
                    console.log("sent data");
                    userClicks = []
                }
                else if(userClicks.length == 0){
                    userClicks[0] = cellId;
                }
            }
            else{
                if(userClicks.length > 0){
                    userClicks = []
                }
                console.log("notboard");
            }

            console.log("Users clicks global var state: " + userClicks);
        })


        //display chess peice location (div id)
        var myFunction = function(btn) {
            console.log(btn.currentTarget.id);
        };

        for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', myFunction, false);
        }


        // renders new board for html
        var renderBoard = function(){
            console.log("================================Entering renderBoard==================================");
            var url = 'http://127.0.0.1:8000/chess/latestBoard/' + gameStateId;
            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
                processBoard(data, false)
            })
            console.log("================================Exiting renderBoard==================================");

        }


        // helper function for render board
        var processBoard = function(data, freshBoardFlag=true){
            console.log("================================Entering processBoard==================================");

            jsonData = JSON.parse(data.chessboard);
            if(freshBoardFlag){
                gameStateId = JSON.parse(data.gameState);
                console.log("=========================GAMESTATEID====================================");
                console.log(gameStateId);
                console.log("=========================GAMESTATEID====================================");

                chessboardFE.setAttribute('id',gameStateId.toString());

            }
            else{
                gameStateId = data['gameState'];
                chessboardFE.setAttribute('id',gameStateId.toString());

            }

            for (var i = 0; i < 64; i++) {
                let element = elements[i];
                while (element.firstChild) {
                    element.removeChild(element.firstChild);
                }
                var div = document.createElement("Div"); 
                    
                type = jsonData[i].type.toLowerCase();
                team = jsonData[i].team.toLowerCase();
                console.log("This is the type -- " + type);
                if(type.toLowerCase() == "rook"){
                    if(team == "white"){
                        txt = document.createTextNode(PIECE.R);

                    }
                    else{

                        txt = document.createTextNode(PIECE.r);
                    }

                    div.appendChild(txt);
                    div.id = elements[i].id;
                }
                else if(type.toLowerCase() == "bishop"){

                    if(team == "white"){
                        txt = document.createTextNode(PIECE.B);

                    }
                    else{

                        txt = document.createTextNode(PIECE.b);
                    }

                    div.appendChild(txt);
                    div.id = elements[i].id;

                    


                }
                else if(type.toLowerCase() == "knight"){
                    if(team == "white"){
                        txt = document.createTextNode(PIECE.N);

                    }
                    else{

                        txt = document.createTextNode(PIECE.n);
                    }


                    div.appendChild(txt);
                    div.id = elements[i].id;


                }
                else if(type.toLowerCase() == "queen"){
                    if(team == "white"){
                        txt = document.createTextNode(PIECE.Q);

                    }
                    else{

                        txt = document.createTextNode(PIECE.q);
                    }


                    div.appendChild(txt);
                    div.id = elements[i].id;


                }
                else if(type.toLowerCase() == "king"){
                    if(team == "white"){
                        txt = document.createTextNode(PIECE.K);

                    }
                    else{

                        txt = document.createTextNode(PIECE.k);
                    }


                    div.appendChild(txt);
                    div.id = elements[i].id;


                }
                else if(type.toLowerCase() == "pawn"){
                    if(team == "white"){
                        txt = document.createTextNode(PIECE.P);

                    }
                    else{

                        txt = document.createTextNode(PIECE.p);
                    }


                    div.appendChild(txt);
                    div.id = elements[i].id;


                }
                    //  var src = document.getElementById("1-1"); 
                    
                    //    src.appendChild(img);
                elements[i].appendChild(div)

            }

            console.log("================================Exiting processBoard==================================");

        }


        // start operations when new game is created
        var startGame = function(){

            

            var url = 'http://127.0.0.1:8000/chess/getData/'

            fetch(url)
            .then((resp) => resp.json())
            .then(function(data){
                processBoard(data)
            })
        } 
        
        startGameBtn.addEventListener("click",startGame);



        // POST chess cords
        var moveChessPiece = function(moveCords){
            var url = "{% url 'postData' %}"
            var token = "{{ csrf_token }}"

            const obj = {

                selectedPiece: JSON.stringify(moveCords[0]),
                moveLocation: JSON.stringify(moveCords[1]),
                gameState: gameStateId.toString()
            };

            fetch(url,{
                method: 'POST',
                headers: {
                    'Content-type':'application/json',
                    'X-CSRFToken' : token,
                },
                body: JSON.stringify(
                    
                obj
                
                
                ),
            }).then(function(response){
                renderBoard()
            })
             .catch(error => console.log('error============:', error));

             

        }

        

    </script>
{% endblock content %}
