{% extends 'layout.html' %}
{% block content %}
{% load static %}
<div class="contaier-fluid homepage-menu">
    <div class="row">
        <a id="stats" class="col hvr-shutter-in-vertical" href="{% url 'stats' %}">
        
            Stats
        </a>
        <a href="{% url 'lobby' %}" id="match" class="col hvr-shutter-in-vertical bg-image">Match</a>
        <a href="{% url 'settings' %}" id="settings" class="col hvr-shutter-in-vertical">Settings</a>


    </div>
</div> 




{% endblock content %}
