{% extends "layout.html" %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-tasks ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-large btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                New Game
            </button>
        </div>
    </nav>
    <div class="container chessboard">
        <div class="row">
            <!-- 1st -->
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
        </div>
        <div class="row">
            <!-- 2nd -->
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
        </div>
        <div class="row">
            <!-- 1st -->
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
            <div class="col white"></div>
            <div class="col black"></div>
        </div>
        <div class="row">
            <!-- 2nd -->
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
        </div>
        <div class="row">
            <!-- 1st -->
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
        </div>
        <div class="row">
            <!-- 2nd -->
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
        </div>
        <div class="row">
            <!-- 1st -->
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
        </div>
        <div class="row">
            <!-- 2nd -->
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
            <div class="col black">
            </div>
            <div class="col white">
            </div>
        </div>
    </div>
{% endblock content %}
