{% extends "layout.html" %}
{% block content %}
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-tasks ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-large btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                New Game
            </button>
        </div>
    </nav>
    <div class="container-lg chessboard">
        {% for nums in range %}
            {% if forloop.counter|divisibleby:2 %}
                <div class="row">
                    {% for num in range %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div id="{{ nums }}-{{ num }}" class="col black chess-cell"></div>
                        {% else %}
                            <div id="{{ nums }}-{{ num }}" class="col white chess-cell"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="row">
                    {% for num in range %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div id="{{ nums }}-{{ num }}" class="col white chess-cell"></div>
                        {% else %}
                            <div id="{{ nums }}-{{ num }}" class="col black chess-cell"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script type="text/javascript">
        var chessboard = [
            {
                "type": "pawn",
                "color": "black",
            },
            {
                "type": "pawn",
                "color": "white",
            },
        ]

        var elements = document.getElementsByClassName("chess-cell");

        var myFunction = function(btn) {
            console.log(btn.currentTarget.id);
        };

        for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', myFunction, false);
        }


        var startGame = function(){
            var arr = ["b_rook","b_horse","b_bishop","b_king","b_queen","b_bishop" ,"b_horse","b_rook",]
            for (var i = 0; i < elements.length && i < arr.length; i++) {

                var img = document.createElement("img"); 
                img.src = "{% static 'img\pieces\w_rook.png' %}"; 
              //  var src = document.getElementById("1-1"); 
                
            //    src.appendChild(img); 
                elements[i].appendChild(img)
            }
        } 
        
        startGame();
        


        

    </script>
{% endblock content %}
