{% extends 'layout.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/newmaster.css' %}">

{% endblock css %}
{% block content %}
<!DOCTYPE html>
<div class="container-fluid h-100">
    <div class="row h-100">
        <nav class="col-1 main-nav navbar navbar-expand-lg bg-body-tertiary d-flex flex-column justify-content-between">
            <div class="main-nav--options w-100">

                <ul class="navbar-nav flex-column w-100">
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">LOGO</a>
                    </li>
                    <li class="nav-item text-center">
                        {% if user.is_authenticated %}
                            <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
                        {% else %}
                            <a class="nav-link" href="{url 'login' }">Login</a>
                        {% endif %}
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link active" aria-current="page" href="#">Profile</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Play</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Friends</a>
                    </li>
                </ul>
            </div>
            <div class="main-nav--utilities w-100">
                 <ul class="navbar-nav flex-column w-100">
                    <li class="nav-item text-center">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item text-center">
                        <a class="nav-link active disabled" aria-current="page" href="#">Collapse</a>
                    </li>
                </ul>

            </div>
        </nav>
        <div class="game col-11">
            <div class="d-flex p-2 justify-content-center align-items-center h-100">
                <div>
                    {% include 'partial_layouts/playerInfo.html' %}
                    <div class="chessboard">
                        {% for nums in range %}
                            {% if forloop.counter|divisibleby:2 %}
                                {% for num in range %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <div id="{{ nums }}-{{ num }}" class="black chess-cell"></div>
                                    {% else %}
                                        <div id="{{ nums }}-{{ num }}" class="white chess-cell"></div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for num in range %}
                                    {% if forloop.counter|divisibleby:2 %}
                                        <div id="{{ nums }}-{{ num }}" class="white chess-cell"></div>
                                    {% else %}
                                        <div id="{{ nums }}-{{ num }}" class="black chess-cell"></div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        
                    </div>
                    
                     {% include 'partial_layouts/playerInfo.html' %}

                </div>
                <div class="card">
                    {% comment %} <div class="card-header">
                    Chat Log
                    </div> {% endcomment %}
                    <div class="card-body">
                    <div class="chat d-flex flex-column justify-content-end">
                        <textarea id="chat-log" class="form-control mb-3" rows="10"></textarea>
                        <div class="input-group">
                        <input id="chat-message-input" type="text" class="form-control" placeholder="Type your message here...">
                        <button id="chat-message-submit" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}

