.homepage-menu {
    height: 100vh;
}

.homepage-menu .row .col {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

}

/* Shutter In Vertical */
.hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: black;
}

.hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

/* .bg-image:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background-color: rgba(84, 21, 21, 0.425);
} */

.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
}

#match::before {
    background-image: url("../img/pieces/homepage-match.jpg");
    background-color: #fdf7f77e;
    background-size: auto;
    background-position: center;
    background-size: contain;
    background-blend-mode: lighten;
}

#match {
    background-image: url("../img/pieces/homepage-match-hover.jpg");
    background-color: #f7f2f265;
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

#stats::before {
    background-image: url("../img/pieces/homepage-stats.jpg");
    background-color: #fdf7f77e;
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}

#settings::before {
    background-image: url("../img/pieces/homepage-settings.jpg");
    background-color: #fdf7f77e;
    background-size: auto;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
}