@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
/* * {
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
} */

* {
    box-sizing: border-box;

}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(168deg, rgba(195, 109, 34, 1), rgba(253, 45, 137, 1) 57%);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.navbar-tasks {
    background: transparent;
}

.task-btn-item {
    text-align: left;
    background-color: rgb(198, 132, 9);
    border: none;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}