{% extends "chessengine/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock css %}
{% block title %}
    Register
{% endblock title %}
{% block content %}
    <div class="background-registration">
        <div class="main">
            <div class="content">
                <h2>Register</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-element">{{ field }}</div>
                        {% if field.errors %}
                            {% for error in field.errors %}<div class="error">{{ error }}</div>{% endfor %}
                        {% endif %}
                    {% endfor %}
                    <div class="form-element">
                        <button type="submit">Sign Up</button>
                    </div>
                    <p>
                        Already have an account? Sign in <a href="{% url 'login' %}">Here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
